Redirect 301 /index.php /index.html
Redirect 301 /estilo-de-puertas.php /puertas.html
Redirect 301 /maderas-y-acabados.php /materiales.html
Redirect 301 /nosotros.php /empresa.html
Redirect 301 /contacto.php /contacto.html
Redirect 301 /distribuidores.php /donde-comprar.html
Redirect 301 /proyectos-especiales.php /profesionales.html
Redirect 301 /recursos-para-profesionales.php /recursos-tecnicos.html
Redirect 301 /recursos-de-instalacion.php /recursos-tecnicos.html
Redirect 301 /sistema-de-marcos.php /marcos.html
Redirect 301 /herrajes.php /materiales.html#herrajes
Redirect 301 /burletes.php /materiales.html#herrajes
Redirect 301 /configuraciones-de-puertas.php /puertas.html
Redirect 301 /sobre-nuestras-puertas.php /materiales.html
Redirect 301 /tecnologia-superior.php /empresa.html
Redirect 301 /puertas-de-interior-pintada.php /placa-pintada.html
Redirect 301 /puertas-de-interior-foliada.php /placa-foliada.html
Redirect 301 /puertas-de-interior-enchapada.php /placa-enchapada.html
Redirect 301 /puertas-de-interior-aldeana.php /aldeana.html
Redirect 301 /puertas-de-interior-toscana.php /toscana.html
Redirect 301 /puertas-de-interior-sardegna.php /sardegna.html
Redirect 301 /puertas-de-interior-avignon.php /avignon.html
Redirect 301 /puertas-de-interior-burdeos.php /burdeos.html
